services:
  qdrant:
    image: qdrant/qdrant:v1.16.1
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    ulimits:
      nofile: 65535
    deploy:
      resources:
        limits:
          cpus: "4"
          memory: 16192M
